*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
  background:#111;
}

.hero{
    width:100%;
    height:100vh;
    background:
    linear-gradient(rgba(0,0,0,0.35), rgba(0,0,0,0.35)),
    url('https://images.unsplash.com/photo-1497366754035-f200968a6e72?q=80&w=1974&auto=format&fit=crop');
    background-size:cover;
    background-position:center;
    background-attachment: fixed;
    position:relative;
    overflow:hidden;
}

    /* NAVBAR */
.navbar{
    width:100%;
    padding:25px 70px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    position:absolute;
    top:0;
    left:0;
    z-index:10;
}

.logo a{
    color:white;
    font-size:32px;
    font-weight:bold;
    letter-spacing:2px;
    text-decoration: none;
    cursor: pointer;
}

.nav-links{
    display:flex;
    gap:40px;
    list-style:none;
}

.nav-links a{
    color:white;
    text-decoration:none;
    font-size:14px;
    font-weight:600;
    text-transform:uppercase;
}

.right-nav{
    display:flex;
    align-items:center;
    gap:30px;
}

.login{
    color:white;
    text-decoration:none;
    font-size:14px;
    font-weight:600;
}

.btn{
    background:white;
    color:black;
    padding:15px 30px;
    text-decoration:none;
    font-size:14px;
    font-weight:bold;
    border-radius:2px;
    transition:0.3s;
}

.btn:hover{
    background:#ddd;
}

/* HERO CONTENT */
.hero-content{
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    color:white;
    padding:20px;
    margin-top: 40px;
}

.hero-content h1{
    font-size:80px;
    line-height:1.1;
    font-weight:300;
    max-width:700px;
    margin-bottom:30px;
}

.hero-content p{
    margin-top:20px;
    font-size:18px;
    opacity:0.9;
}

@media(max-width:900px){

    .navbar{
    padding:20px;
    }

    .nav-links{
    display:none;
    }

    .hero-content h1{
    font-size:50px;
    }
}

/* NEW SLIDER */

html,body{
  width:100%;
  overflow-x:hidden;
  font-family:Arial, sans-serif;
}

/* MAIN SLIDER */
.premium-slider{
  width:100%;
  overflow:hidden;
  position:relative;
  background-color: #fff;
}

/* PREMIUM SLIDER HEADER */

.premium-slider-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  height: 400px;

}


.premium-slider-heading h1{
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 20px;

}

/* TRACK */
.slider-track{
  display:flex;
  width:100%;
  height:100%;
  transition:transform 0.8s ease-in-out;
}

/* EACH SLIDE */
.slide-card{
  display: flex;
  justify-content: center;
  align-items: center;  
  min-width:100%;
  height:100vh;
  position:relative;
  overflow:hidden;
  flex-shrink:0;
}

/* IMAGE */
.slide-card img{
  width:90%;
  height:90%;
  border-radius: 20px;
  object-fit:cover;
  transition:1s ease;
}

/* DARK OVERLAY */
.slide-card::after{
  content:"";
  position:absolute;
  inset:0;
}


/* BUTTONS */
.slider-buttons{
  position:absolute;
  bottom:50px;
  right:60px;
  display:flex;
  gap:15px;
  z-index:10;
}

.slider-buttons button{
  width:60px;
  height:60px;
  border:none;
  border-radius:50%;
  background:rgba(255,255,255,0.15);
  backdrop-filter:blur(10px);
  color:#fff;
  font-size:20px;
  cursor:pointer;
  transition:0.3s ease;
}

.slider-buttons button:hover{
  background:#fff;
  color:#000;
}

/* OPTIONAL SMALL LABEL */
.slide-tag{
  font-size:14px;
  letter-spacing:2px;
  text-transform:uppercase;
  margin-bottom:15px;
  color:#d8d8d8;
}

/* MOBILE */
@media(max-width:768px){

  .slide-content{
    left:30px;
    right:30px;  }

  .slide-content h2{
    font-size:42px;
  }

  .slide-content p{
    font-size:16px;
  }

  .slider-buttons{
    right:30px;
    bottom:30px;
  }

  .slider-buttons button{
    width:50px;
    height:50px;
  }
}

#second-section {
  background-color: #ddd;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-container-first {
  background-color: #fff;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.main-container-first h1{
  font-size: 40px;
  font-weight: 400;
}
.main-container-first p{
  font-size: 18px;
  font-weight: 100;
}