*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
  background:#111;
}

.hero{
    width:100%;
    height:100vh;
    background:
    linear-gradient(rgba(0,0,0,0.35), rgba(0,0,0,0.35)),
    url('https://images.unsplash.com/photo-1497366754035-f200968a6e72?q=80&w=1974&auto=format&fit=crop');
    background-size:cover;
    background-position:center;
    position:relative;
    overflow:hidden;
}

    /* NAVBAR */
.navbar{
    width:100%;
    padding:25px 70px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    position:absolute;
    top:0;
    left:0;
    z-index:10;
}

.logo a{
    color:white;
    font-size:32px;
    font-weight:bold;
    letter-spacing:2px;
    text-decoration: none;
    cursor: pointer;
}

.nav-links{
    display:flex;
    gap:40px;
    list-style:none;
}

.nav-links a{
    color:white;
    text-decoration:none;
    font-size:14px;
    font-weight:600;
    text-transform:uppercase;
}

.right-nav{
    display:flex;
    align-items:center;
    gap:30px;
}

.login{
    color:white;
    text-decoration:none;
    font-size:14px;
    font-weight:600;
}

.btn{
    background:white;
    color:black;
    padding:15px 30px;
    text-decoration:none;
    font-size:14px;
    font-weight:bold;
    border-radius:2px;
    transition:0.3s;
}

.btn:hover{
    background:#ddd;
}

/* HERO CONTENT */
.hero-content{
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    color:white;
    padding:20px;
    margin-top: 40px;
}

.hero-content h1{
    font-size:80px;
    line-height:1.1;
    font-weight:300;
    max-width:700px;
    margin-bottom:30px;
}

.hero-content p{
    margin-top:20px;
    font-size:18px;
    opacity:0.9;
}

@media(max-width:900px){

    .navbar{
    padding:20px;
    }

    .nav-links{
    display:none;
    }

    .hero-content h1{
    font-size:50px;
    }
}

/* NETFLIX SLIDER */

.netflix-wrap{
  width:100%;
  background:#0f0f0f;
  padding:35px 0;
  overflow:hidden;
  font-family:Arial,sans-serif;
}

.netflix-header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:0 25px;
  margin-bottom:25px;
}

.netflix-header h2{
  color:#fff;
  font-size:32px;
}

.nav-buttons{
  display:flex;
  gap:10px;
}

.nav-buttons button{
  width:45px;
  height:45px;
  border:none;
  border-radius:50%;
  background:rgba(255,255,255,0.12);
  color:white;
  font-size:20px;
  cursor:pointer;
  transition:0.3s;
}

.nav-buttons button:hover{
  background:rgba(255,255,255,0.25);
}

.movie-row{
  display:flex;
  gap:20px;
  overflow-x:auto;
  scroll-behavior:smooth;
  padding:10px 25px;
}

.movie-row::-webkit-scrollbar{
  display:none;
}

.movie-card{
  min-width:280px;
  height:420px;
  border-radius:20px;
  overflow:hidden;
  position:relative;
  flex-shrink:0;
  transition:0.4s;
  cursor:pointer;
}

.movie-card:hover{
  transform:scale(1.05);
}

.movie-card img{
  width:100%;
  height:100%;
  object-fit:cover;
}

.overlay{
  position:absolute;
  left:0;
  bottom:0;
  width:100%;
  padding:25px;
  color:white;
  background:linear-gradient(to top, rgba(0,0,0,0.95), transparent);
}

.overlay h3{
  font-size:24px;
  margin-bottom:8px;
}

.overlay p{
  opacity:0.8;
}

/* MOBILE */

@media(max-width:768px){

  .movie-card{
    min-width:210px;
    height:320px;
  }

  .netflix-header h2{
    font-size:24px;
  }

}